<div class="secondary-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    Product Category
                </h1>
            </div>
        </div>
        <hr />
        <div class="row">
            <!-- Product -->
                    <div class="col-xs-6">
                        <div class="product-wrapper">
                            <div class="row">
                                <div class="col-xs-7">
                                    <img src="placeholder.png" height="330px" class="img-responsive" />
                                </div>
                                <div class="col-xs-5">
                                    <ul class="list-unstyled">
                                        <li>
                                            <h4>ITEM CODE</h4>
                                        </li>
                                        <li>
                                            <p><strong>Material:</strong> N/A</p>
                                        </li>
                                        <li>
                                            <p><strong>Finish:</strong> N/A</p>
                                        </li>
                                        <li>
                                            <p><strong>Breadth:</strong> N/A</p>
                                        </li>
                                        <li>
                                            <p><strong>Length:</strong> N/A</p>
                                        </li>
                                        <li>
                                            <p><strong>Radius:</strong> N/A</p>
                                        </li>
    
                                        <li>
                                            <p><strong>Rate:</strong> N/A</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- ./Product -->
        </div>
    </div>
</div>